USE [master]
GO
/****** Object:  Database [NotifyCrash]    Script Date: 11/2/2026 9:59:01 PM ******/
CREATE DATABASE [NotifyCrash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotifyCrash', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NotifyCrash.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotifyCrash_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NotifyCrash_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotifyCrash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotifyCrash]
GO
/****** Object:  UserDefinedTableType [dbo].[CrashRecordTvp]    Script Date: 11/2/2026 9:59:01 PM ******/
CREATE TYPE [dbo].[CrashRecordTvp] AS TABLE(
	[GameId] [bigint] NOT NULL,
	[Rate] [decimal](18, 4) NOT NULL
)
GO
/****** Object:  Table [dbo].[CrashRecords]    Script Date: 11/2/2026 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrashRecords](
	[GameId] [bigint] NOT NULL,
	[Rate] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_CrashRecords] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CrashRecords_UpsertAndTrim]    Script Date: 11/2/2026 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 2) Stored procedure: Upsert + Trim
CREATE   PROCEDURE [dbo].[CrashRecords_UpsertAndTrim]
(
    @Records dbo.CrashRecordTvp READONLY,
    @MaxRows INT = 50
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        ;MERGE dbo.CrashRecords AS T
        USING (
            SELECT GameId, Rate
            FROM @Records
        ) AS S
        ON T.GameId = S.GameId
        WHEN MATCHED AND T.Rate <> S.Rate THEN
            UPDATE SET Rate = S.Rate
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (GameId, Rate) VALUES (S.GameId, S.Rate);

        DECLARE @Total INT;
        SELECT @Total = COUNT(1) FROM dbo.CrashRecords WITH (READPAST);

        IF (@Total > @MaxRows)
        BEGIN
            DECLARE @DeleteCount INT = @Total - @MaxRows;

            ;WITH ToDelete AS
            (
                SELECT TOP (@DeleteCount) GameId
                FROM dbo.CrashRecords
                ORDER BY GameId ASC
            )
            DELETE T
            FROM dbo.CrashRecords T
            INNER JOIN ToDelete D ON D.GameId = T.GameId;
        END

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrState INT = ERROR_STATE();
        RAISERROR(@ErrMsg, @ErrSeverity, @ErrState);
    END CATCH
END
GO
USE [master]
GO
